@use "./Global.scss" as g;

#navbar {
    background: g.$primary-dark;
    display: flex;
    color: white;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 10;

    .left {
        display: flex;
        align-items: center;
    }

    .right {
        display: flex;

        > a {
            padding: 10px;
            text-decoration: none;
            color: white;
            border-bottom: 2px solid transparent;
            &:hover {
                border-bottom: 2px solid white;
            }
        }
    }
}
